<div class="wrapper">
  <h1>Parent Component</h1>
  <div class="content">
    <app-user (passListEvent)="addItem($event)"/>
    <div class="list">
      <ul *ngFor="let user of list">
        <li>
          {{user.firstname || 'Luka'}} 
          {{user.lastname || 'Budagovi'}} 
          {{user.dob.getDate() || '27'}}/{{user.dob.getMonth()+1 || '7'}}/{{user.dob.getFullYear() || '2002'}}
          {{user.mobileNum || '514-14-14-14'}} 
          {{user.email || 'budagovi@example.com'}} 
          {{user.age || '21'}}
        </li>
      </ul>
    </div>
  </div>
</div>