.wrapper {
  padding: 1rem;
  background-color: rgb(233, 132, 132);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
}

.form {
  display: grid;
  grid-template-columns: 160px 230px;
  row-gap: 0.8rem;
  justify-items: left;
}

input {
  line-height: 1.5rem;
  border-radius: 7px;
  border: none;
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.3rem;
  width: 95%;
}

label {
  line-height: 1.5rem;
}

button {
  padding: 0.5rem 0.7rem;
  background-color: rgb(171, 72, 72);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(136, 50, 50);
}